<%# <div class="row my-5"> %>
<%# <div class="col-12"> %>
<%# <div class="container"> %>
<div id="projects">
  <h1 class="projects-title"> - Works</h1>
  <div class="cards">
    <% data.projects.each do |project| %>
      <div class="card-product">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% project.image.each_with_index do |image, index| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= "active " if index == 0 %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% project.image.each_with_index do |image, index| %>
              <div class="carousel-item <%= "active " if index == 0 %>">
                <div class="card-product">
                  <%=image_tag "#{image}.png" %>
                </div>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="card-product-infos">
          <h2><%= project.name %></h2>
          <div class="description">
            <p><%= project.description %></p>
          </div>
          <p class="gray-text"><%= project.tools %></p>
          <div class="d-flex">
            <% if project.live_url %>
              <% link_to project.live_url, class: 'external-link', target: '_blank' do %>
                <i class="fas fa-external-link-alt"></i>
              <% end %>
            <% end %>
            <% if project.github_url %>
              <% link_to project.github_url, class: 'external-link', target: '_blank' do %>
                <i class="fa-brands fa-square-github"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%# </div> %>
<%# </div> %>
<%# </div> %>
